/* --- Global style */

body {
    background-color: white;
    font-family: 'Barlow Condensed', sans-serif;
    color: #445361;
    text-align: center;
}

/* --- Heading */

.heading {
    text-align: center;
}

.logo {
    height: 200px;
    width: 800px;
}

/* --- Game layout */

#rules {
    text-align: center;
    border: 1px solid black;
    max-width: 70%;
    margin: 0 auto;
    padding: 5px;
    font-size: 1.4rem;
}

.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.4rem;
}

.scores {
    display: inline-block;
    padding: 10px;
}

/* --- Buttons */

#Blastoise:active,
#Blastoise:hover {
    background-color: rgb(45, 45, 198);
    color: white;
}

#Charizard:active,
#Charizard:hover {
    background-color: rgb(190, 11, 11);
    color: white;
}

#Venusaur:active,
#Venusaur:hover {
    background-color: rgb(17, 132, 17);
    color: white;
}

.battle-arean {
    font-size: 1.4rem;
    padding-top: 10px;
}

h2 {
    margin: 3px;
}

#Venusaur,
#Charizard,
#Blastoise {
    background-color: transparent;
    height: 300px;
    width: 300px;
}

img {
    max-width: 100%;
    max-height: 100%;
}